body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.sketch-picker {
    position: absolute;
}

.mt-5 {
    margin-top: 5rem;
}

.my-3 {
    margin: 1rem 0;
}